body {
    background-color: #0f121f;
    background: url('star.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}

body * {
    font-family: Arial;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}

a, a:hover, a:visited {
    color: white;
    text-decoration: none;
}